*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

    background-color: black;
}
/* navbar*/

.brand-logo{

   margin-top: 20px;
   margin-bottom: 20px;
   margin-right: 20px;

    width: 150px;
    height: 20px;
}

/* carusel */

.image{

    width: 500px;
    height: 400px;
}